version: '3.7'
services:

  reminder:
    build: .
    restart: always
    ports:
      - "${REMINDER_PORT:-9953}:3000"
    environment:
      - REMINDER_PORT
      - REMINDER_DATABASE_ADDRESS
      - REMINDER_DATABASE_PASSWORD
      - REMINDER_DATABASE_USER
      - USERMESSENGER_TOKEN
      - USERMESSENGER_ENDPOINT
      - REMINDER_CLEAR_OLDER_THAN_DAYS
    networks:
      - postgres

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: ${REMINDER_DATABASE_USER:-postgres}
      POSTGRES_PASSWORD: ${REMINDER_DATABASE_PASSWORD:-changeme}
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    #todo: ports not needed for release
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${REMINDER_PGADMIN_USERMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${REMINDER_PGADMIN_PASSWORD:-admin}
    volumes:
      - pgadmin:/root/.pgadmin
    ports:
      - "${REMINDER_PGADMIN_PORT:-5050}:80"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin:
